<li><%= link_to 'Catalogo', pages_about_us_path  %></li>

<li><%= link_to 'Como estas', pages_faq_path  %></li>

<li><%= link_to 'Piqueos Reservas', pages_tos_path  %></li>

<li><%= link_to 'Contactanos', pages_contact_us_path  %></li>